* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

html,
body {
    height: 100%;
    font-size: 16px;
    background: #5cdb95;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 100px;
    border-bottom: 1px solid black;
    z-index: 2;

    h2 {
        line-height: 1;
        margin-left: 10px;
        // color: #FF851B;
        color: #05386b;
        display: block;
        text-shadow: hoff voff blur #000;

        @media (min-width: 768px) {
            font-size: 2em;
        }
    }

    i.fas.fa-bars {
        font-size: 35px;
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translate(-95%, -50%);
        color: #05386b;

        @media (min-width: 768px) {
            display: none;
        }
    }

    nav {
        color: #05386b;

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            height: 0;
            overflow: hidden;
            font-size: 2em;
            line-height: 100px;

            @media (min-width: 768px) {
                height: 100%;
            }

            li {
                margin-left: 50px;
                font-weight: bold;

                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
    }
}


.main {
    height: 50%;
    // background-image: url("../images/snowsmall.jpg");
    // background-size: contain;

    h1 {
        font-size: 2em;
        text-align-last: center;
        padding-top: 30px;
    }

    // img {
    //     width: 50%;
    //     height: 70%;
    //     display: block;
    //     margin: 0 auto;
    // }

    p {
        text-align-last: center;
    }
}

.about {
    height: 70%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.projects {
    height: 100%;
    border-bottom: 3px solid black;
}

.contact {
    height: 50%;
}