@keyframes slideUp {
    0% {
        opacity: 0;
        left: 100%;
    }

    100% {
        opacity: 1;
        left: 50%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


html,
body {
    height: 100%;
    font-size: 16px;
    background: #5cdb95;
    overflow: hidden;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #c3b8b8;
}

header {
    display: flex;
    width: 100%;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #379683;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    overflow: hidden;
    flex-wrap: wrap;
    box-shadow: 0 0 65px 15px rgba(#000, 0.2);

    &.mobile {
        flex-direction: column;
    }

    img {
        width: 80px;
        height: 80px;
        margin: 5px;

        @media (min-width: 1024px) {
            width: 100px;
            height: 100px;
        }

        @media (min-width: 1440px) {
            width: 110px;
            height: 110px;
        }
    }

    .icon {
        position: fixed;
        width: 55px;
        height: 55px;
        border: none;
        border-radius: 50%;
        right: 1px;
        z-index: 6;

        @media (min-width: 1024px) {
            width: 70px;
            height: 70px;
        }

        @media (min-width: 1440px) {
            width: 80px;
            height: 80px;
        }

        &:hover {
            background-color: rgba(0, 0, 0, .5);
            transform: scale(1.05);
        }

        &.active .hamburger {
            background-color: rgba(0, 0, 0, 0);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
        }

        &.active .hamburger::before {
            top: 0;
            left: 0;
            transform: rotate(45deg);
            background-color: #003870;
        }

        &.active .hamburger::after {
            top: 0;
            left: 0;
            transform: rotate(-45deg);
            background-color: #003870;
        }

        .hamburger {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 8px;
            background-color: #5cdb95;
            cursor: pointer;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            transition: all .3s;

            @media (min-width: 1024px) {
                width: 50px;
                height: 10px;
            }

            @media (min-width: 1440px) {
                width: 60px;
                height: 12px;
            }

            &.test {
                background-color: #379683;

                &::before,
                &::after {
                    background-color: #379683;
                }
            }

            &.test1 {
                background-color: #EAF6DE;

                &::before,
                &::after {
                    background-color: #379683;
                }
            }

            &::before,
            &::after {
                content: "";
                background-color: #5cdb95;
                width: 40px;
                height: 8px;
                position: absolute;
                top: 50%;
                left: 50%;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                transition: all .3s;

                @media (min-width: 1024px) {
                    width: 50px;
                    height: 10px;
                }

                @media (min-width: 1440px) {
                    width: 60px;
                    height: 12px;
                }
            }

            &::before {
                transform: translate(-50%, -200%);
            }

            &::after {
                transform: translate(-50%, 100%);
            }
        }
    }

    .show {
        left: 0;
    }

    nav {
        position: fixed;
        top: 0;
        left: 100%;
        color: #5cdb95;
        width: 100%;
        height: 15vh;
        z-index: 5;

        &.mobile {
            overflow: hidden;
            transition: all .5s linear;
            background-color: #EAF6DE;

            ul {
                width: calc(100% - 56px);
                height: 100%;
                display: flex;
                list-style: none;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-basis: 0;
                    flex-grow: 1;
                    text-transform: uppercase;
                    height: 100%;
                    font-weight: bold;
                    font-size: 11px;
                    padding: 2px;

                    @media (min-width: 375px) {
                        font-size: 15px;
                    }

                    @media (min-width: 425px) {
                        font-size: 18px;
                    }

                    @media (min-width: 1024px) {
                        font-size: 30px;
                    }

                    @media (min-width: 1440px) {
                        font-size: 35px;
                    }

                    &:hover {
                        background-color: rgba(0, 0, 0, 0.2);
                        cursor: pointer;
                    }

                    a {
                        text-decoration: none;
                        color: #003870;
                    }
                }
            }
        }

    }
}

.main {
    height: 85vh;
    position: relative;

    .container {
        height: 80%;
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 5px;

        h1 {
            font-size: 2em;
            text-align-last: center;
            color: #edf5e1;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.2);

            @media (min-width: 1024px) {
                font-size: 4em;
            }
        }

        p {
            text-align-last: center;
            color: #379683;

            @media (min-width: 1440px) {
                font-size: 2em;
            }
        }

        img {
            position: absolute;
            top: 25%;
            left: 50%;
            transform: translate(-50%, -25%);
            width: 100%;
            height: 50%;
            animation: slideUp 2s linear;

            @media (min-width: 768px) {
                width: 70%;
                height: 70%;
            }

            @media (min-width: 1024px) {
                width: 50%;
                height: 65%;
            }

            @media (min-width: 1440px) {
                width: 50%;
                height: 80%;
            }
        }
    }

}

.about {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 1440px) {
        height: 600px;
    }

    .container {
        height: 100%;
        width: 85%;
        margin-top: 20px;
        background-color: #dedfe0;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 65px 15px rgba(0, 0, 0, 0.2);

        @media (min-width: 768px) {
            width: 70%;
            height: 90%;
        }

        @media (min-width: 768px) {
            width: 60%;
            height: 90%;
        }

        @media (min-width: 1024px) {
            width: 50%;
            height: 100%;
        }

        @media (min-width: 1440px) {
            width: 60%;
        }

        .me {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 20px;

            .image {
                width: 140px;
                height: 140px;
                border-radius: 50%;
                overflow: hidden;
                background-color: #5cdb95;
                box-shadow: 0 0 35px 5px rgba(0, 0, 0, 0.2);

                @media (min-width: 1440px) {
                    width: 180px;
                    height: 180px;
                }

                img {
                    display: block;
                    width: 80%;
                    height: 100%;
                    margin: 0 auto;
                }
            }

            p {
                margin-top: 10px;

                @media (min-width: 1440px) {
                    font-size: 22px;
                }

                span {
                    font-weight: bold;
                }
            }
        }

        h4 {
            @media (min-width: 768px) {
                font-size: 20px;
            }

            @media (min-width: 1440px) {
                font-size: 26px;
            }
        }

        .links {
            display: flex;
            justify-content: space-around;
            width: 100%;
            flex-grow: 1;
            position: relative;

            &::before {
                content: '';
                width: 1px;
                height: 100%;
                background-color: #c3b8b8;
                position: absolute;
                top: 0;
            }

            .img {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 1;

                img {
                    width: 80px;
                    height: 80px;

                    @media (min-width: 375px) {
                        width: 100px;
                        height: 100px;
                    }

                    @media (min-width: 425px) {
                        width: 125px;
                        height: 125px;
                    }

                    @media (min-width: 768px) {
                        width: 100px;
                        height: 100px;
                    }
                }
            }

        }
    }
}

.skills {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container {
        position: relative;
        height: 80%;
        width: 85%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        border-radius: 10px;
        background-color: #dedfe0;
        box-shadow: 0 0 65px 15px rgba(#000, 0.2);

        @media (min-width: 425px) {
            height: 600px;
        }

        @media (min-width: 768px) {
            width: 60%;
            height: 65%;
        }

        @media (min-width: 1024px) {
            width: 50%;
        }

        @media (min-width: 1440px) {
            width: 60%;
        }

        &::before {
            content: '';
            width: 1px;
            height: 100%;
            background-color: #c3b8b8;
            position: absolute;
            top: 0;
        }

        h1 {
            text-transform: uppercase;
            font-size: 30px;
            display: flex;
            flex-basis: 100%;
            height: 13%;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #dedfe0;
            z-index: 1;

            @media (min-width: 1440px) {
                font-size: 45px;
            }
        }

        .logos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: space-between;
            flex-basis: 50%;
            height: 29%;

            p {
                text-transform: uppercase;
                font-weight: bold;

                @media (min-width: 1440px) {
                    font-size: 25px;
                }
            }

            img {
                width: 70%;
                height: 60%;
                display: block;

                @media (min-width: 375px) {
                    width: 60%;
                    height: 70%;
                }

                @media (min-width: 425px) {
                    width: 75%;
                    height: 60%;
                    margin-bottom: 10px;
                }

                @media (min-width: 768px) {
                    width: 50%;
                    height: 60%;
                    margin-bottom: 0;
                }

                @media (min-width: 1440px) {
                    width: 30%;
                }
            }

            &:nth-of-type(9) img {
                height: 57%;
                width: 70%;

                @media (min-width: 375px) {
                    width: 60%;
                    height: 50%;
                }

                @media (min-width: 768px) {
                    width: 45%;
                    height: 60%;
                }

                @media (min-width: 1440px) {
                    width: 27%;
                    height: 60%;
                }
            }
        }
    }
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
    align-items: center;

    @media (min-width: 768px) {
        height: 900px;
    }

    h1 {
        width: 100%;
        text-align: center;

        @media (min-width: 768px) {
            font-size: 30px;
        }

        @media (min-width: 1440px) {
            font-size: 50px;
        }
    }

    .container {
        width: 100%;
        height: 950px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        @media (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            height: 500px;
        }

        @media (min-width: 1024px) {
            width: 90%;
            height: 700px;
        }

        @media (min-width: 1440px) {
            width: 80%;
            height: 700px;
        }

        .projects {
            width: 90%;
            height: 220px;
            position: relative;
            overflow: hidden;
            border-radius: 5px;
            display: flex;
            justify-content: center;

            @media (min-width: 768px) {
                width: 45%;
            }

            @media (min-width: 1024px) {
                width: 37%;
            }

            @media (min-width: 1440px) {
                width: 35%;
                height: 300px;
            }

            &:hover>.links {
                opacity: 1;
            }

            &:hover>a>img {
                transform: scale(1.15);
                opacity: 1;
            }

            &:nth-of-type(3):hover>a>img {
                transform: scale(1.05);
            }

            &:nth-of-type(2) h2 {
                color: #bfb8b8;
            }

            h2 {
                position: absolute;
                font-size: 20px;
                z-index: 2;
                text-align: center;

            }

            a {
                img {
                    width: 100%;
                    height: 100%;
                    opacity: .7;
                    transition: .3s ease-in-out;
                }
            }

            .links {
                display: flex;
                align-items: center;
                width: 100%;
                height: 20%;
                position: absolute;
                bottom: 0;
                background-color: #c5c5b0;
                opacity: 1;
                transition: .3s linear;

                @media (min-width: 1024px) {
                    opacity: 0;
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    color: #000;
                    text-decoration: none;
                    font-weight: bold;
                    position: relative;
                    margin-left: 5px;

                    &.effect-underline:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        display: inline-block;
                        height: 22px;
                        width: 100%;
                        border-bottom: 2px solid;
                        margin-top: 10px;
                        opacity: 0;
                        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                        transition: opacity 0.35s, transform 0.35s;
                        -webkit-transform: scale(0, 1);
                        transform: scale(0, 1);
                    }

                    &.effect-underline:hover:after {
                        opacity: 1;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                }
            }
        }
    }
}

.contact {
    width: 100%;
    height: 100%;
    color: #003870;
    padding: 20px 0;
    background: linear-gradient(#dedfe0), url(../images/email-pattern.png);
    background-blend-mode: multiply;
    position: relative;

    @media (min-width: 1024px) {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        text-align: center;
        font-size: 30px;
    }

    p {
        text-align: center;
    }

    .container {
        display: flex;
        justify-content: center;
        width: 80%;
        height: 100%;
        margin: 0 auto;
        background-color: #dedfe0;
        padding: 30px 20px;
        border-radius: 5px;
        box-shadow: 0 0 35px 5px rgba(0, 0, 0, 0.2);

        @media (min-width: 768px) {
            width: 60%;
        }

        @media (min-width: 1024px) {
            height: auto;
        }

        @media (min-width: 1440px) {
            width: 55%;
        }

        label {
            width: 100%;
            text-align: left;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;


            input {
                width: 100%;
                padding: 6px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                margin-bottom: 5px;
            }

            textarea {
                width: 100%;
                height: 150px;
                padding: 6px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                resize: vertical;
                margin-bottom: 10px;
            }

            input[type="submit"] {
                color: #003870;
                margin-right: 0;
                width: 100px;
                height: 30px;
                border-radius: 5px;
                border: none;
                background-color: #EAF6DE;
                cursor: pointer;
                font-weight: bold;
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
            }
        }
    }
}